Business/SIGEEventHandler.cs
Business/Sector.cs
Business/bin/Release/*
Business/obj/*
CFG/bin/Release/*
CFG/obj/*
Data/bin/Release/*
Data/obj/*
Entity/bin/Release/*
Entity/obj/*
LuckyMer.Contracts/LuckyMer.Contracts/bin/Release/*
LuckyMer.Contracts/LuckyMer.Contracts/obj/*
Test/Test/obj/*